name: Release

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        platform: [ ubuntu-22.04, ubuntu-24.04-arm, ubuntu-latest, windows-latest, windows-2022, macos-latest ]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install zip
        if: matrix.platform == 'windows-latest' || matrix.platform == 'windows-2022'
        run: powershell.exe -Command "choco install zip"
      - name: Install Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version: 1.x
          check-latest: true
      - name: Install Go tip
        run: |
          set -x
          
          # Set up some control variables
          MAX_RETRIES=2
          RETRY_COUNT=0
          SUCCESS=0

          while [ $RETRY_COUNT -le $MAX_RETRIES ]; do
            # Run the command and capture both stdout and stderr
            OUTPUT=$( { go install golang.org/dl/gotip@latest && gotip download; } 2>&1 )
          
            # We still want to see the output as part of the job output
            echo "$OUTPUT"
          
            # Check if the error "exit status 1" is present in the output
            if echo "$OUTPUT" | grep -q "exit status 1"; then
              echo "Detected 'exit status 1' error, retrying... ($((RETRY_COUNT+1))/$MAX_RETRIES)"
              RETRY_COUNT=$((RETRY_COUNT+1))
            else
              SUCCESS=1
              break
            fi
          done
          
          # Exit with error if still unsuccessful after retries
          if [ $SUCCESS -eq 0 ]; then
            echo "Failed to install Go tip after $MAX_RETRIES attempts."
            exit 1
          fi
      - name: Zip Go installation
        run: |
          set -x
          cd $HOME/sdk/
          zip -r $GITHUB_WORKSPACE/go.zip gotip
      - name: Upload Go tip artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: go-zip-${{ matrix.platform }}
          path: ${{ github.workspace }}/go.zip
          if-no-files-found: error

  test:
    needs: build
    strategy:
      fail-fast: true
      matrix:
        platform: [ ubuntu-22.04, ubuntu-24.04-arm, ubuntu-latest, windows-latest, windows-2022, macos-latest ]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Download Go tip artifact
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4
        with:
          name: go-zip-${{ matrix.platform }}
      - name: Install Go tip
        run: |
          set -x
          unzip go.zip -d $HOME/sdk
          echo "GOROOT=$HOME/sdk/gotip" >> "$GITHUB_ENV"
          echo "GOPATH=$HOME/go" >> "$GITHUB_ENV"
          echo "$HOME/go/bin" >> "$GITHUB_PATH"
          echo "$HOME/sdk/gotip/bin" >> "$GITHUB_PATH"
      - name: Test Go
        run: |
          set -x
          echo "$PATH"
          which go
          go_version_output=$(go version)
          echo "$go_version_output"
          if ! echo "$go_version_output" | grep -qE 'go[0-9.]+-devel'; then
            echo "Go version is not devel"
            exit 1
          fi

  release:
    needs: test
    strategy:
      fail-fast: true
      matrix:
        platform: [ ubuntu-22.04, ubuntu-24.04-arm, ubuntu-latest, windows-latest, windows-2022, macos-latest ]
    runs-on: ${{ matrix.platform }}
    permissions:
      contents: write
    steps:
      - name: Download Go tip artifact
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4
        with:
          name: go-zip-${{ matrix.platform }}
      - name: Release
        uses: ncipollo/release-action@2c591bcc8ecdcd2db72b97d6147f871fcd833ba5 # v1.14.0
        with:
          allowUpdates: true
          artifactErrorsFailBuild: true
          artifacts: go.zip
          token: "${{ secrets.GITHUB_TOKEN }}"
          tag: "${{ matrix.platform }}"

  slack:
    runs-on: ubuntu-latest
    needs: [ build, test, release ]
    if: ${{ always() && contains(join(needs.*.result, ','), 'failure') }}
    permissions:
      contents: read
      id-token: write
    steps:
      - id: get-secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@9f37f656e063f0ad0b0bfc38d49894b57d363936 # get-vault-secrets/v1.2.1
        with:
          repo_secrets: |
            SLACK_WEBHOOK_URL=slack:SLACK_WEBHOOK_URL
      - name: Slack on failure
        id: slack
        uses: slackapi/slack-github-action@fcfb566f8b0aab22203f066d80ca1d7e4b5d05b3 # v1.27.1
        with:
          payload: |
            {
              "text": "grafana/gotip release failed",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "The `grafana/gotip` periodic release has *failed* :thinking_face:\n\nPlease check the release process for details:\n ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
                  }
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ env.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
